.answer-container {
    padding: 10px;
    transition: border 0.2s;
  }
  
.answer-container:focus-within {
border: 1px solid #ced4da;
border-radius: 5px;
}
  
.answer-actions {
  display: none;
}


.answer-container:focus-within .answer-actions {
  display: block;
}