body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}

#input-container {
  position: relative;
  
}
#input-img{
  position: absolute;
  bottom:8px; 
  left: 8px;
}
#wd-search-assignment{
   margin:0; padding-left: 25px;
}

#percentage-capule {
  border: 1px solid #212529;
  border-radius: 18px;
  padding: 5px;
  margin-top: 10px;
}

.wd-assignment{
  border-left: 3px solid green;
}